
/* Define my color scheme*/
body {
    background-color: #f0f0f0; /* Background color for the whole page */
}

header {
    background-color: #000080;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.logo {
    display: flex; 
    gap: 25px;
    justify-content:center;
}
h1 {
    margin-top: 30px;
}

nav {
    background-color:#000000;
    margin: 0 auto;
    padding: 10px;
    display:flex;
    justify-content: space-evenly;
}


/* Apply Flexbox to the navigation container for mobile view */
@media screen and (max-width: 767px) {

    nav ul {
        display: flex; /* Enable Flexbox */
        flex-direction: column; /* Vertical layout for mobile view */
        font-size: 16px;
        list-style: none;  /* Remove default list styles such as bullets from the list */
        line-height: 2.0;
        text-align: center;
    }
}

main {
    width: 80%; /* Limited width for the main content */
    margin:  0 auto; /* Center the main content horizontally */
    padding: 20px;
}

h2{
    justify-content: center;
}

.card-one, .card-two{
    display: grid;
    border: 1px solid #C0C0C0;
    margin: 20px 0;
   

}



h3 {
    background-color: #000080;
    color: white;
    margin: 0px;
    padding: 10px;    
    text-align: center;
    height: 50px;
}


li {
    list-style-type: none;
    margin: 10px;
}


p {
text-align: center;
padding: 10px;
}

footer {
    background-color: #000080;
    color:#fff;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

