

/* Define my color scheme and font */
body{
    background-color: #f0f0f0; /* Background color for the whole page */
    color: #000000; /* Text color */
    font-family: 'Roboto', sans-serif; /* My chosen font*/
    margin: 0;
}

header{
background-color: #000080;
color: #fff;
text-align: center;
padding: 20px;
margin-top: 20px;
}

.logo{
    border-radius: 50%;
    display: flex; 
    gap: 25px;
    justify-content:center;
}

nav {
    background-color:#000000;
    color: #fff;
    padding: 10px;
    text-align: center;
}


nav ul {
    list-style: none;
    padding: 0;
    line-height: 2.0;
    
}

nav li a{
    margin: 20px;
    list-style-type: none; /* Remove bullets from the list */
    color: #fff;
    text-decoration: none;
}

main {
    width: 80%; /* Limited width for the main content */
    margin:  0 auto; /* Center the main content horizontally */
    padding: 20px;
}

main ul{
    list-style-type: none;
}

.card {
    display: grid;
    border: 1px solid #C0C0C0;
    margin: 20px 0;
}

h3 {
    background-color: #000080;
    color: white;
    margin: 0px;
    padding: 10px;    
    text-align: center;
}

p {
text-align: center;
}

footer {
    background-color: #000080;
    color:#fff;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    }
